.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/examples/*html
inst/examples/rsconnect
inst/examples/*.Rmd
.Rprofile
docs
*.swp
node_modules
revdep/checks*
revdep/library*
revdep/data*
viztest-*
private
__TODO.R
