.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/examples/*html
inst/examples/rsconnect
inst/examples/*.Rmd
.Rprofile
*.swp
node_modules
inst/htmlwidgets/build
revdep/checks*
revdep/library*
revdep/data*
viztest-*
